.display-data-container {
  margin: 0 auto;
  width: 500px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.display-data-labels {
  height: 500px;
  width: 150px;
  border: 1px solid black;
}

.display-record-data {
  padding: 10px;
  border: 1px solid black;
  height: 480px;
  width: 350px;
  font-family: 'Inter', sans-serif;
}

.label {
  text-align: center;
  padding: 10px;
}

.label:hover {
  cursor: pointer;
  background-color: darkgray;
}

.modify-records {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add {
  background-color: #388e3c;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.add:hover {
  background-color: #1b5e20;
  color: white;
}

.edit {
  background-color: #1565c0;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.edit:hover {
  background-color: #0d47a1;
  color: white;
}

.common {
  padding: 20px;
}

.delete {
  background-color: #e53935;
  color: white;
  border: none;
  width: 70px;
  height: 20px;
  border-radius: 8px;
  transition-duration: 0.5s;
  float: right;
}

.delete:hover {
  background-color: #b71c1c;
}
