.edit-block {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background: #00000050; 
  height: 100vh;
}

.edit-popup {
  position: relative; 
  width: 50%; 
  margin: 0 auto; 
  height: auto; 
  max-height: 70vh; 
  margin-top: calc(100vh - 85vh - 20px); 
  background: #dcedc8; 
  padding: 20px; 
  overflow: auto; 
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-icon {
  font-family: sans-serif;
  color: white;
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(35% - 10px);
  top: calc(100vh - 85vh - 10px);
  background: #ef5350;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
